<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PerkPulse - Manage Cards</title>
    <link rel="stylesheet" href="../static/mc.css">
</head>
<body>
    <div class="desktop-4">
        <div class="container-2">
            <div class="perk-pulse">PerkPulse</div>
            <div class="iconamoonprofile-duotone">
                <button type="button" onclick="toggleAdd()">
                    <img class="group" src="assets/vectors/group_1_x2.svg" />
                </button>
            </div>
        </div>

        <div id="group0" class="group0">
            <button class="prof-btn">Profile</button>
            <a href = "mc.html">
                <button type="button" class="card-btn">Manage Cards</button>
            </a>
            <a href = "login.html">
                <button type="button" class="log-out">Log out</button>
            </a>
        </div>

        <div id="group1" class="group1">
            <h3>Card name:</h3>
            <input type="text" id="newCardName" class="cardName" placeholder="ICICI Bank Rubyx Credit Card">
            <h3>Card Number:</h3>
            <input type="text" id="newCardNumber" class="cardName" placeholder="xxxx xxxx xxxx xxxx">
            <button id="addCardButton" class="addCardButton" onclick="addNewCard()">Add Card</button>
        </div>
        <a href="main.html" class="back-link">
            <img src="assets/vectors/group_41_x2.svg" alt="Back" class="group-4">
        </a>
        
        <div class="content-container">
            

            <h2 id="your-saved-credit-cards" class="list">Your saved credit cards</h2>

            <ul id="creditCardList" class="credit-card-list"></ul>
            <div class="add-new-button" id="add-new-button">
                <button type="button" onclick="toggleAddNewForm()">
                    <img src="assets/vectors/add_new_card.svg">
                </button>
            </div>
            <!-- <button class="add-new-button" onclick="toggleAddNewForm()">Add New Card</button> -->
        </div>
        
        
    </div>
    <script src="../static/mc.js"></script>
    <script>
        function toggleAdd() {
        const addNewForm = document.getElementById('group0');
        addNewForm.classList.toggle('open-Profile');
        }
    </script>
</body>
</html>