<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/offers_movies.css" />
  </head>
  <body>
    <div class="desktop-4">
      <div class="container-1">
        <div class="container-2">
          <span class="perk-pulse">
          PerkPulse
          </span>
          <div class="iconamoonprofile-duotone">
            <button type="button" onclick="toggleAdd()">
              <img class="group" src="assets/vectors/group_1_x2.svg" />
            </button>
          </div>
        </div>
        <div class="group0" id="group0">
          <button type="button" class="prof-btn">Profile</button>
          <a href = "mc.html">
            <button type="button" class="card-btn">Manage Cards</button>
          </a>
          <a href = "login.html">
            <button type="button" class="log-out">Log out</button>
          </a>
      </div>
        <div class="container">
          <a href="main.html">
            <img class="group-4" src="assets/vectors/group_41_x2.svg" />
          </a>
          <div id="predictions-container"></div>
        </div>
      <!-- <img class="rectangle-18" src="../assets/vectors/rectangle_18_x2.svg" /> -->
      <button class="ai-recommendation">
      Make Prediction
      </button>
    </div>
    <script src="../static/offers_movies.js"></script>
    <script>
      let group0 = document.getElementById("group0");
      function openProfile(){
        group0.classList.add("open-Profile");
      }
      function toggleAdd() {
        const addNewForm = document.getElementById('group0');
        addNewForm.classList.toggle('open-Profile');
     }
    </script>
  </body>
</html>